/* Asi se hacen comentarios xd */
/* Sintaxis:
 
Selector  {
 propiedad: valor;
}
*/

/* el important "corta" con el principio de cascada, rompe con la jerarquia*/

header{
  overflow: hidden;
  background-color: #9b1616;
  width: 100%;
}



footer {
  margin: 15px;
  background-color: rgb(0, 0, 0);
  display:flex ;
  align-items: center;
  justify-content: center;
  
 
}
body {
    color: #f8f8f8;
    font-size: 25px; 
    font-family: Arial;
    line-height: 1.6;
    background-color: rgb(114, 109, 109);
}
.imagenLogo {
  width: 20%;

}
.imagenLogo2 {
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: 370px;
}

a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-size: small;
    
}

a:hover {
  color: red;
  transition: all 0.3s;
}
.a { 
 
  text-decoration: none;
  color: black;
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
}
p {
  font-size:x-large;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@keyframes texto {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

h1 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: 1;
  color: red;
  text-transform: uppercase;
  font-weight: bold;
}

.imagenesProducto {
  border-radius: 4px;
  height: auto;
  max-width: 100%;
}
.imagenesProducto:hover{
  border-radius:50%;
  -webkit-border-radius:50%;
  box-shadow: 0px 0px 15px 15px #5f1204;
  -webkit-box-shadow: 0px 0px 15px 15px #6b1303;
  transition: all 0.3s;
  } 
.boton {
 background-color: rgb(0, 0, 0);
}
.boton:hover {
  background-color: rgb(253, 7, 7);
  transition: all 0.3s;
}
table, th, td {
  border: 1px solid ;

}

input[type=text] {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    margin-top: 10px;
    height: 150px;
    padding: 11px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #000000;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }
  input:focus {
    background-color: burlywood;
    border: none;
  }
  .genero {
    display: inline;
  }

.ropaTienda {
  display: inline-flex;
  padding-right: 10px;
  width:400px;
  height:400px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.tituloTienda {
  text-align: center;
}
.bordeListita {
  display: flex;
  align-items: center;
  justify-content: center;
}


.homeImagen {
  display: flex;
  justify-content: center;
  align-items: center;
} 
.homeTexto {
    text-align: center;
  }

.textoForm {
  text-align: center;
}
.sectionPV {
display: inline;
text-align: center;
 display: block;
}
.ropaTienda:hover{filter: blur(2px);}

.formulario {
  background-color:#ccc
}

@media (max-width:900px) and (min-width: 400px) {
  .listaNav {
    display: flex;
    flex-direction: column;
  }
  .ropaTienda {
    display: inline-flex;
    flex-direction: column;
  }
  }
  
