/* Asi se hacen comentarios xd */
/* Sintaxis:
 
Selector  {
 propiedad: valor;
}
*/

/* el important "corta" con el principio de cascada, rompe con la jerarquia*/

header{
  overflow: hidden;
  background-color: #581722;
}
header li {
  margin-right: 5px;
}
.listaNav {
  display: flex;
  margin: 20px 20px;
  list-style: none;
  padding-left:3px;
  padding-right:3px;
}

.header a {
  display: flex;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;
  }

  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  .header a:hover {
    background-color: #ddd;
    color: black;
  }
  .header a.active {
    background-color: dodgerblue;
    color: rgb(255, 255, 255);
  }
footer {
  margin: 15px;
  background-color: rgb(75, 20, 20);
  display:flex ;
  align-items: center;
  justify-content: center;
 
}
body {
    color: #04AA6D;
    font-size: 25px; font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.6;
    background-color: rgb(46, 5, 5);
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

@keyframes texto {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 100%;
  }
}

h1 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: 1;
}


table, th, td {
  border: 1px solid ;

}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
  }
  textarea {
    width: 100%;
    margin-top: 10px;
    height: 150px;
    padding: 11px 15px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    resize: none;
  }
  select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
  }
  input[type=button], input[type=submit], input[type=reset] {
    background-color: #04AA6D;
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
  }

  .genero {
    display: inline;
  }

.ropaTienda {
  display: inline-flex;
  padding-right: 10px;
  width:400px;
  height:400px;
  margin-bottom: 100px;
  margin-top: 100px;
}

.listita {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
  border: rgb(90, 23, 23) 10px solid;
  border-width: 10px;
  color: rgb(94, 6, 6);
  border-radius: 23px;
  border-right: 12px;
  border-left: 12px;
  
}


.tituloTienda {
  text-align: center;
}
.bordeListita {
  display: flex;
  align-items: center;
  justify-content: center;
}


.homeImagen {
  display: flex;
  justify-content: center;
  align-items: center;
} 


.textoForm {
  text-align: center;
}
.sectionPV {
display: inline;
text-align: center;
 display: block;
}

@media (max-width:900px) and (min-width: 400px) {
.listaNav {
  display: flex;
  flex-direction: column;
}
.ropaTienda {
  display: inline-flex;
  flex-direction: column;
}
}