@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");

@keyframes texto {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 100%;
  }
}

header {
  overflow: hidden;
  background-color: #9b1616;
  width: 100%;
}

.footer {
  position: absolute;
  width: 100%;
}

.footer-basic {
  padding: 40px 0;
  background-color: #9b1616;
  color: #ffffff;
}

.footer-basic ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}

.footer-basic ul a {
  color: #ffffff;
  text-decoration: none;
  opacity: 0.8;
}

.footer-basic ul a:hover {
  opacity: 1;
  color: rgb(0, 0, 0);
}

.footer-basic li {
  padding: 0 10px;
}

.footer-basic .social {
  text-align: center;
  padding-bottom: 25px;
}

.footer-basic .social>a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #ccc;
  margin: 0 8px;
  color: #ffffff;
  opacity: 0.75;
}

.footer-basic .social>a:hover {
  opacity: 0.9;
  color: rgb(0, 0, 0);
}

.footer-basic .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

body {
  color: #ffffff;
  font-size: 25px;
  font-family: poppins;
  line-height: 1.6;
  background-color: rgb(114, 109, 109);
  background-image: url(../Imagenes/fondo.jpg);
}

.imagenLogo {
  width: 20%;
}

.imagenLogo2 {
  box-sizing: border-box;
  padding: 10px;
  width: 500px;
  height: 370px;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
  font-size: small;
  font-family: poppins;
}

a:hover {
  color: 3;
  transition: all 0.3s;
}

.a {
  text-decoration: none;
  color: rgb(122, 35, 35);
  text-transform: uppercase;
  font-size: 25px;
  font-weight: bold;
  font-family: poppins;
}

p {
  font-size: x-large;
  font-family: poppins;
}

h1 {
  animation-name: texto;
  animation-duration: 2s;
  animation-iteration-count: 1;
  color: #d4d0d0;
  text-transform: uppercase;
  font-weight: bold;
  font-family: poppins;
}

.imagenesProducto {
  -webkit-filter: grayscale(0) blur(0);
  filter: grayscale(0) blur(0);
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.imagenesProducto:hover {
  -webkit-filter: grayscale(100%) blur(3px);
  filter: grayscale(100%) blur(3px);
}

.boton {
  min-width: 130px;
  height: 60px;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bolder;
  font-size: x-large;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  background: rgb(0, 0, 0);
  box-shadow: 0 5px #ffffff;
}

.boton:hover {
  box-shadow: 0 3px rgb(253, 7, 7);
  top: 1px;
  background-color: #ffffff;
  color: rgb(253, 7, 7);
}

.tituloTienda {
  text-align: center;
}

.bordeListita {
  display: flex;
  align-items: center;
  justify-content: center;
}

.homeImagen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.homeTexto {
  text-align: center;
}

.textoForm {
  text-align: center;
}

.sectionPV {
  display: inline;
  text-align: center;
  display: block;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: #9b1616;
  padding-left: 30px;
}

.contact_form p {
  color: rgb(0, 0, 0);
}

.contact_form input {
  background-color: #ffffff;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

.contact_form textarea {
  background-color: #ffffff;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(0, 0, 0);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

.contact_form label {
  display: block;
  float: center;
}

.contact_form button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: #ffffff;
  border-color: rgb(114, 109, 109);
  border-style: solid;
  border-radius: 10px;
  width: 410px;
  cursor: pointer;
}

.contact_form button p {
  color: rgb(0, 0, 0);
}

.contact_form h3 {
  font-size: 20px;
  padding-bottom: 30px;
  color: #0e0e0e;
  font-family: helvetica;
}

.contact_form span {
  color: #d60a0a;
}

.contact_form .formulario input:focus {
  outline: 0;
  border: 1px solid #97d848;
}

.form .textoProducto:hover {
  color: rgb(253, 7, 7);
  transition: all 0.3s;
}

i {
  font-size: xx-large;
}

i:hover {
  color: rgb(0, 0, 0);
}

.section-products {
  padding: 80px 0 54px;
}

.section-products .header {
  margin-bottom: 50px;
}

.section-products .header h3 {
  font-size: 2rem;
  color: rgb(253, 7, 7);
  font-weight: 500;
}

.section-products .single-product {
  margin-bottom: 26px;
}

.section-products .single-product .part-1 {
  position: relative;
  height: 290px;
  max-height: 290px;
  margin-bottom: 20px;
  overflow: hidden;
}

.section-products .single-product .part-1::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transition: all 0.3s;
}

.section-products .single-product .part-1 .discount {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: rgb(253, 7, 7);
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
}

.section-products .single-product .part-1 .new {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #ffffff;
  background-color: rgb(253, 7, 7);
  padding: 2px 8px;
  text-transform: uppercase;
  font-size: 0.85rem;
  left: 0;
  background-color: #aaa;
}

.section-products .single-product .part-1 ul {
  position: absolute;
  bottom: -41px;
  left: 20px;
  margin: 0;
  padding: 0;
  list-style: none;
  opacity: 0;
  transition: bottom 0.5s, opacity 0.5s;
}

.section-products .single-product .part-1 ul li {
  display: inline-block;
  margin-right: 4px;
}

.section-products .single-product .part-1 ul li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #ffffff;
  color: rgb(253, 7, 7);
  text-align: center;
  transition: color 0.2s;
}

.section-products .single-product:hover .part-1::before {
  transform: scale(1.2, 1.2) rotate(5deg);
}

.section-products .single-product:hover .part-1 ul {
  bottom: 30px;
  opacity: 1;
}

.section-products .single-product .part-2 .product-title {
  font-size: 1rem;
}

.section-products .single-product .part-2 h4 {
  display: inline-block;
  font-size: 1rem;
}

.section-products .single-product .part-2 .product-old-price {
  position: relative;
  padding: 0 7px;
  margin-right: 2px;
  opacity: 0.6;
}

.section-products .single-product .part-2 .product-old-price::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgb(114, 109, 109);
  transform: translateY(-50%);
}

.section-products #product-1 .part-1::before {
  background: url("https://www.dhresource.com/webp/m/0x0/f2/albu/g22/M01/C5/A8/rBNaEmJW-HuAZZVpAACAx2vdtZw089.jpg") no-repeat center;
  background-size: cover;
  transition: all 0.3s;
}

.section-products #product-2 .part-1::before {
  background: url("https://www.dhresource.com/0x0/f2/albu/g8/M01/5A/D0/rBVaV16obteAUbzsAAW_RiDPcDs125.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-3 .part-1::before {
  background: url("https://img.bestdealplus.com/ae04/kf/Hacb7288b66254ab692d57fd4b8b0a3feN.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-4 .part-1::before {
  background: url("https://static.wixstatic.com/media/0e4cd5_172b7ac2d1b24ea990e641d1e565e1a9~mv2.jpg/v1/fill/w_1000,h_1000,al_c,q_85/0e4cd5_172b7ac2d1b24ea990e641d1e565e1a9~mv2.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-5 .part-1::before {
  background: url("https://www.dhresource.com/0x0/f2/albu/g22/M00/F7/75/rBNaEmJffImAVTdKAAEcoVAES8w544.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-6 .part-1::before {
  background: url("https://static.bershka.net/4/photos2/2021/I/0/2/p/5440/220/800/5440220800_2_4_1.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-7 .part-1::before {
  background: url("https://d22fxaf9t8d39k.cloudfront.net/f44e41c3b111ff6d2bde7e8cedcb8c64ff04788959c0479b13187639c1a558fa3717.jpeg") no-repeat center;
  background-size: cover;
}

.section-products #product-8 .part-1::before {
  background: url("https://media.revistagq.com/photos/6024f63540a1d479f12b5fe5/master/w_1920,h_1280,c_limit/020221_Pokemon_01.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-9 .part-1::before {
  background: url("https://d3ugyf2ht6aenh.cloudfront.net/stores/001/070/999/products/1hombre-one-piece-7-amarillo-6b17c32e7754e7770e15858441371513-1024-1024-8d9c006c61fd61e70216631025243831-1024-1024.webp") no-repeat center;
  background-size: cover;
}

.section-products #product-10 .part-1::before {
  background: url("https://m.media-amazon.com/images/I/515RCRMOkcS._AC_SL1500_.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-11 .part-1::before {
  background: url("https://http2.mlstatic.com/D_NQ_NP_829490-MLA48145109080_112021-W.jpg") no-repeat center;
  background-size: cover;
}

.section-products #product-12 .part-1::before {
  background: url("https://http2.mlstatic.com/D_NQ_NP_938867-MLA48432802066_122021-W.jpg") no-repeat center;
  background-size: cover;
}

@media (max-width: 900px) and (min-width: 400px) {
  .listaNav {
    display: flex;
    flex-direction: column;
  }

  .ropaTienda {
    display: inline-flex;
    flex-direction: column;
  }

  .lista {
    display: none !important;
  }

  p {
    color: #5f1204;
    font-size: medium;
  }

  .a {
    font-size: small;
  }

  .contact_form {
    width: 100%;
  }

  .contact_form input {
    width: 90%;
  }

  .contact_form textarea {
    width: 90%;
  }

  .contact_form h3 {
    width: 90%;
  }

  .login {
    display: flex;
    flex-direction: column;
  }

  .columna {
    display: flex;
    flex-direction: column;
  }
}


/*# sourceMappingURL=Style.css.map */