
//fonts//
$font-family_1: Arial;
$font-family_2: helvetica;
$font-family_3: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

//Colores//
$rojo-oscuro: #9b1616;
$gris: rgb(114, 109, 109);
$negro: rgb(0, 0, 0);
$rojo-claro: rgb(253, 7, 7);
$beige: burlywood;
$blanco: #ffffff;
$gris-claro: #aaa;