@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import "_variables";
@keyframes texto {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 100%;
	}
}
header {
	overflow: hidden;
	background-color: $rojo-oscuro;
	width: 100%;
}

.footer {
	position: absolute;
	width: 100%;
}
.footer-basic {
	padding: 40px 0;
	background-color:$rojo-oscuro;
	color: $blanco;
	ul {
		padding: 0;
		list-style: none;
		text-align: center;
		font-size: 18px;
		line-height: 1.6;
		margin-bottom: 0;
		a {
			color: $blanco;
			text-decoration: none;
			opacity: 0.8;
			&:hover {
				opacity: 1;
				color: $negro;
			}
		}
	}
	li {
		padding: 0 10px;
	}
	.social {
		text-align: center;
		padding-bottom: 25px;
		>a {
			font-size: 24px;
			width: 40px;
			height: 40px;
			line-height: 40px;
			display: inline-block;
			text-align: center;
			border-radius: 50%;
			border: 1px solid #ccc;
			margin: 0 8px;
			color: $blanco;
			opacity: 0.75;
			&:hover {
				opacity: 0.9;
				color: $negro;
			}
		}
	}
	.copyright {
		margin-top: 15px;
		text-align: center;
		font-size: 13px;
		color: $gris-claro;
		margin-bottom: 0;
	}
}
body {
	color: $blanco;
	font-size: 25px;
	font-family: $font-family_4;
	line-height: 1.6;
	background-color: $gris;
}
.imagenLogo {
	width: 20%;
}
.imagenLogo2 {
	box-sizing: border-box;
	padding: 10px;
	width: 500px;
	height: 370px;
}
a {
	text-decoration: none;
	color: $negro;
	text-transform: uppercase;
	font-weight: bold;
	font-size: small;
	font-family: $font-family_4;
	&:hover {
		color: 3;
		transition: all 0.3s;
	}
}
.a {
	text-decoration: none;
	color: $negro;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	font-family: $font-family_4;
}
p {
	font-size: x-large;
	font-family: $font-family_4;
}
h1 {
	animation-name: texto;
	animation-duration: 2s;
	animation-iteration-count: 1;
	color: $rojo-oscuro;
	text-transform: uppercase;
	font-weight: bold;
	font-family: $font-family_4;
}
.imagenesProducto {
	border-radius: 4px;
	height: auto;
	max-width: 100%;
	&:hover {
		border-radius: 50%;
		-webkit-border-radius: 50%;
		box-shadow: 0px 0px 15px 15px #5f1204;
		-webkit-box-shadow: 0px 0px 15px 15px #6b1303;
		transition: all 0.3s;
	}
	
}
.boton {
	min-width: 130px;
	height: 50px;
	color: $blanco;
	padding: 5px 10px;
	font-weight: bold;
	cursor: pointer;
	transition: all 0.3s ease;
	position: relative;
	display: inline-block;
	outline: none;
	border-radius: 5px;
	border: none;
	background: $negro;
	box-shadow: 0 5px $blanco;
	&:hover {
		box-shadow: 0 3px $rojo-claro;
		top: 1px;
		background-color: $blanco;
		color: $rojo-claro
}
		

}


.tituloTienda {
	text-align: center;
}
.bordeListita {
	display: flex;
	align-items: center;
	justify-content: center;
}
.homeImagen {
	display: flex;
	justify-content: center;
	align-items: center;
}
.homeTexto {
	text-align: center;
}
.textoForm {
	text-align: center;
}
.sectionPV {
	display: inline;
	text-align: center;
	display: block;
}


.contact_form{  
	width: 460px; 
	height: auto;
	margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
	background-color: $rojo-oscuro; 
	padding-left: 30px; 
	p {
		color:$negro;
	}
	input{
		background-color: $blanco; 
		width: 408px; 
		height: 40px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: $negro; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
	  }
	  textarea{
		background-color: $blanco; 
		width: 405px; 
		height: 150px; 
		border-radius: 5px;  
		border-style: solid; 
		border-width: 1px; 
		border-color: $negro; 
		margin-top: 10px;  
		padding-left: 10px;
		margin-bottom: 20px; 
		padding-top: 15px; 
	  }
	  label{
		display: block; 
		float: center;  
	  }
	  button{
		height: 45px; 
		padding-left: 5px;
		padding-right: 5px;   
		margin-bottom: 20px; 
		margin-top: 10px;   
		text-transform: uppercase;
		background-color: $blanco; 
		border-color: $gris; 
		border-style: solid; 
		border-radius: 10px;  
		width: 410px;   
		cursor: pointer;
		p {
			color: $negro; 
		}
		
 		 }
		h3{
			font-size: 20px; 
			padding-bottom: 30px;
			color: #0e0e0e;
			font-family: $font-family_2;   
		  }
		    
  		span{
		color: #d60a0a; 
  		}
		  .formulario input:focus{
			outline:0;
			border: 1px solid #97d848;
		}
	}
.form
.textoProducto:hover {
 color: $rojo-claro;
 transition: all 0.3s;
}

i{
	font-size: xx-large;
	&:hover{
		color:$negro;
	}
}

.section-products {
	padding: 80px 0 54px;
	.header {
		margin-bottom: 50px;
		h3 {
			font-size: 2rem;
			color: $rojo-claro;
			font-weight: 500;
		}
	}
	.single-product {
		margin-bottom: 26px;
		.part-1 {
			position: relative;
			height: 290px;
			max-height: 290px;
			margin-bottom: 20px;
			overflow: hidden;
			&::before {
				position: absolute;
				content: "";
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: -1;
				transition: all 0.3s;
			}
			.discount {
				position: absolute;
				top: 15px;
				left: 20px;
				color: $blanco;
				background-color: $rojo-claro;
				padding: 2px 8px;
				text-transform: uppercase;
				font-size: 0.85rem;
			}
			.new {
				position: absolute;
				top: 15px;
				left: 20px;
				color: $blanco;
				background-color: $rojo-claro;
				padding: 2px 8px;
				text-transform: uppercase;
				font-size: 0.85rem;
				left: 0;
				background-color: $gris-claro;
			}
			ul {
				position: absolute;
				bottom: -41px;
				left: 20px;
				margin: 0;
				padding: 0;
				list-style: none;
				opacity: 0;
				transition: bottom 0.5s, opacity 0.5s;
				li {
					display: inline-block;
					margin-right: 4px;
					a {
						display: inline-block;
						width: 40px;
						height: 40px;
						line-height: 40px;
						background-color: $blanco;
						color: $gris;
						text-align: center;
						transition: color 0.2s;
					}
				}
			}
		}
		&:hover {
			.part-1 {
				&::before {
					transform: scale(1.2,1.2) rotate(5deg);
				}
				ul {
					bottom: 30px;
					opacity: 1;
				}
			}
		}
		.part-2 {
			.product-title {
				font-size: 1rem;
			}
			h4 {
				display: inline-block;
				font-size: 1rem;
			}
			.product-old-price {
				position: relative;
				padding: 0 7px;
				margin-right: 2px;
				opacity: 0.6;
				&::after {
					position: absolute;
					content: "";
					top: 50%;
					left: 0;
					width: 100%;
					height: 1px;
					background-color: $gris;
					transform: translateY(-50%);
				}
			}
		}
	}
	#product-1 {
		.part-1 {
			&::before {
				background: url("https://www.dhresource.com/webp/m/0x0/f2/albu/g22/M01/C5/A8/rBNaEmJW-HuAZZVpAACAx2vdtZw089.jpg"
				) no-repeat center;
				background-size: cover;
				transition: all 0.3s;
			}
		}
	}
	#product-2 {
		.part-1 {
			&::before {
				background: url("https://www.dhresource.com/0x0/f2/albu/g8/M01/5A/D0/rBVaV16obteAUbzsAAW_RiDPcDs125.jpg") no-repeat center;
				background-size: cover;
			}
		}
	}
	#product-3 {
		.part-1 {
			&::before {
				background: url("https://img.bestdealplus.com/ae04/kf/Hacb7288b66254ab692d57fd4b8b0a3feN.jpg") no-repeat center;
				background-size: cover;
			}
		}
	}
	#product-4 {
		.part-1 {
			&::before {
				background: url("https://static.wixstatic.com/media/0e4cd5_172b7ac2d1b24ea990e641d1e565e1a9~mv2.jpg/v1/fill/w_1000,h_1000,al_c,q_85/0e4cd5_172b7ac2d1b24ea990e641d1e565e1a9~mv2.jpg") no-repeat center;
				background-size: cover;
			}
		}
	}
}


@media (max-width:900px) and (min-width: 400px) {
	.listaNav {
		display: flex;
		flex-direction: column;
	}
	.ropaTienda {
		display: inline-flex;
		flex-direction: column;
	}
	.lista {
		display: none !important;
	}
	p {
		color:#5f1204;
		font-size: medium;
	}
	.a {
		font-size: small;
	}
	.contact_form {
		width: 100%;
		input {
			width: 90%;
		}
		textarea {
			width: 90%;
		}
		h3 {
			width: 90%;
		}
	}
	.login {
		display: flex;
		flex-direction: column;
	}
}
